<section class="tab{{#if tab.active}} active flexcol{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
	<label>
		<span>{{localize "Infinity.Sheets.Gear.Type"}}</span>
		<select name="system.type" {{disabled (not editable)}}>
			{{selectOptions LABELED_GEAR_TYPES selected=system.type localize=true valueAttr="key" labelAttr="label"}}
		</select>
	</label>

	<label>
		<span>{{localize "Infinity.Sheets.Gear.Armour.Type"}}</span>
		<select name="system.armour.type" {{disabled (not editable)}}>
			{{selectOptions LABELED_ARMOUR_TYPES selected=system.armour.type localize=true valueAttr="key" labelAttr="label"}}
		</select>
	</label>

	{{!-- TODO: In UI Cleanup Pass, these should be a row of 4 number fields. --}}
	<label>
		<span>{{localize "Infinity.Sheets.Gear.Armour.Soak.Head"}}</span>
		<input type="number" min="0" name="system.armour.soak.head" value="{{system.armour.soak.head}}" />
	</label>

	<label>
		<span>{{localize "Infinity.Sheets.Gear.Armour.Soak.Torso"}}</span>
		<input type="number" min="0" name="system.armour.soak.torso" value="{{system.armour.soak.torso}}" />
	</label>

	<label>
		<span>{{localize "Infinity.Sheets.Gear.Armour.Soak.Arms"}}</span>
		<input type="number" min="0" name="system.armour.soak.arms" value="{{system.armour.soak.arms}}" />
	</label>

	<label>
		<span>{{localize "Infinity.Sheets.Gear.Armour.Soak.Legs"}}</span>
		<input type="number" min="0" name="system.armour.soak.legs" value="{{system.armour.soak.legs}}" />
	</label>

	<label>
		<span data-tooltip="{{localize "Infinity.Sheets.Gear.Armour.BTS.Hint"}}">{{localize "Infinity.Sheets.Gear.Armour.BTS.Label"}}</span>
		<input type="number" min="0" name="system.armour.bts" value="{{system.armour.bts}}" />
	</label>

	<hr style="height: 1px; margin: 0;" />

	<h4 style="margin: 0;" data-tooltip="{{localize "Infinity.Sheets.Gear.Qualities.Hint"}}">{{localize "Infinity.Sheets.Gear.Qualities.Label"}}</h4>

	{{> gearQualities qualities=armour.qualities qualitiesPath=qualitiesPath}}
</section>
