<section class="tab{{#if tab.active}} active flexcol{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
	<label>
		<span>{{localize "Infinity.Sheets.Gear.Type"}}</span>
		<select name="system.type" {{disabled (not editable)}}>
			{{selectOptions LABELED_GEAR_TYPES selected=system.type localize=true valueAttr="key" labelAttr="label"}}
		</select>
	</label>

	<label>
		<span data-tooltip="{{localize "Infinity.Sheets.Gear.FakeID.Rating.Hint"}}">{{localize "Infinity.Sheets.Gear.FakeID.Rating.Label"}}</span>
		<input type="number" min="0" name="system.fakeID.rating" value="{{system.fakeID.rating}}" {{disabled (not editable)}} />
	</label>

	{{> gearQualities qualities=fakeID.qualities qualitiesPath=qualitiesPath}}
</section>
