{{#if (or readOnly (not @root.editable))}}
	<span class="font-roboto-flex {{ class }}">{{ value }}</span>
{{ else }}
	<input type="{{ type }}" name="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}" min="{{ min }}" max="{{ max }}" class="!px-2 placeholder:opacity-50 placeholder:oblique {{class}}" />
{{/if}}
