<section class="tab weapons{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
	<div class="section">
		<div class="header">{{localize "Infinity.Sheets.Player.Gear"}}</div>
		<div class="cash">
			<label>
				<span>{{localize "Infinity.Sheets.Player.Assets"}}</span>
				<input name="system.assets" value="{{system.assets}}" type="text" />
			</label>

			<label>
				<span>{{localize "Infinity.Sheets.Player.Earnings"}}</span>
				<input name="system.earnings" value="{{system.earnings}}" type="text" />
			</label>

			<label>
				<span>{{localize "Infinity.Sheets.Player.Cashflow"}}</span>
				<input name="system.cashflow" value="{{system.cashflow}}" type="text" />
			</label>

			<label>
				<span>{{localize "Infinity.Sheets.Player.Shortfalls"}}</span>
				<input name="system.shortfalls" value="{{system.shortfalls}}" type="text" />
			</label>
		</div>
		<div class="gear">
			<span class="label">{{localize "Infinity.Sheets.Player.Gear"}}</span>
			<span class="sublabel equip-state" style="opacity: 50%"><i class="fas fa-fw fa-suitcase"></i></span>
			<span class="sublabel name">{{localize "Infinity.Sheets.Player.Equipment.Name"}}</span>
			<span class="sublabel quantity">{{localize "Infinity.Sheets.Player.Equipment.Quantity"}}</span>
			<span class="sublabel maintenance">{{localize "Infinity.Sheets.Player.Equipment.Maintenance"}}</span>

			{{#each equipment.gear}}
				<span class="item equip-state">
					<a data-action="toggleEquip" data-tooltip="{{localize (concat "Infinity.Sheets.Player.Equipment.State." system.state)}}" data-uuid="{{uuid}}">
						{{#if (eq system.state 'equipped')}}
							<i class="fas fa-fw fa-hand-fist"></i>
						{{/if}}
						{{#if (eq system.state 'carried')}}
							<i class="fas fa-fw fa-suitcase"></i>
						{{/if}}
						{{#if (eq system.state 'dropped')}}
							<i class="fas fa-fw fa-transporter-empty"></i>
						{{/if}}
					</a>
				</span>
				<span class="item name" data-uuid="{{uuid}}" data-state="{{system.state}}" data-type="{{system.type}}">
					<a data-action="openDocument" data-uuid="{{uuid}}">{{name}}</a>
				</span>
				<span class="item quantity">
					{{#if @root.editable}}
						{{#if (eq system.quantity 0)}}
							<a data-action="deleteDocument" data-uuid="{{uuid}}">
								<i class="fas fa-fw fa-trash"></i>
							</a>
						{{else}}
							<a data-action="decreaseQuantity" data-uuid="{{uuid}}"><i class="fas fa-fw fa-minus"></i></a>
						{{/if}}
					{{else}}
						<span></span>
					{{/if}}
					<span>{{system.quantity}}</span>
					{{#if @root.editable}}
						<a data-action="increaseQuantity" data-uuid="{{uuid}}"><i class="fas fa-fw fa-plus"></i></a>
					{{else}}
						<span></span>
					{{/if}}
				</span>
				<span class="item maintenance">{{system.maintenance}}</span>
			{{/each}}
		</div>

		<div class="resources">
			<span class="label">{{localize "Infinity.Sheets.Player.Resources"}}</span>
			<span class="sublabel name">{{localize "Infinity.Sheets.Player.Equipment.Name"}}</span>
			<span class="sublabel quantity">{{localize "Infinity.Sheets.Player.Equipment.Quantity"}}</span>

			{{#each equipment.resources}}
				<span class="item name" data-uuid="{{uuid}}" data-state="{{system.state}}" data-type="{{system.type}}">
					<a data-action="openDocument" data-uuid="{{uuid}}">{{name}}</a>
				</span>
				<span class="item quantity">
					{{#if @root.editable}}
						{{#if (eq system.quantity 0)}}
							<a data-action="deleteDocument" data-uuid="{{uuid}}">
								<i class="fas fa-fw fa-trash"></i>
							</a>
						{{else}}
							<a data-action="decreaseQuantity" data-uuid="{{uuid}}"><i class="fas fa-fw fa-minus"></i></a>
						{{/if}}
					{{else}}
						<span></span>
					{{/if}}
					<span>{{system.quantity}}</span>
					{{#if @root.editable}}
						<a data-action="increaseQuantity" data-uuid="{{uuid}}"><i class="fas fa-fw fa-plus"></i></a>
					{{else}}
						<span></span>
					{{/if}}
				</span>
			{{/each}}
		</div>
	</div>

	<div class="section">
		<div class="header">{{localize "Infinity.Sheets.Player.HackingDevice"}}</div>

		{{#if equipment.hackingDevice}}
			<div class="hacking-device">
				<span class="device-name value">{{equipment.hackingDevice.name}}</span>

				<span class="device-field">CLAW</span>
				<span class="value">{{equipment.hackingDevice.system.hackingDevice.claw}}</span>

				<span class="device-field">SWORD</span>
				<span class="value">{{equipment.hackingDevice.system.hackingDevice.sword}}</span>

				<span class="device-field">SHIELD</span>
				<span class="value">{{equipment.hackingDevice.system.hackingDevice.shield}}</span>

				<span class="device-field">GADGET</span>
				<span class="value">{{equipment.hackingDevice.system.hackingDevice.gadget}}</span>

				<span class="device-field">IC</span>
				<span class="value">{{equipment.hackingDevice.system.hackingDevice.ic}}</span>
			</div>
		{{else}}
			<div class="no-hacking-device">{{localize "Infinity.Sheets.Player.EquipHackingDevice"}}</div>
		{{/if}}

		<div class="programs">
			<div class="label">{{localize "Infinity.Sheets.Player.Programs"}}</div>
			<span class="sublabel equip-state" style="opacity: 50%"><i class="fas fa-fw fa-suitcase"></i></span>
			<span class="sublabel name">{{localize "Infinity.Sheets.Player.Equipment.Name"}}</span>
			<span class="sublabel damage">{{localize "Infinity.Sheets.Player.Equipment.Damage"}}</span>
			<span class="sublabel qualities">{{localize "Infinity.Sheets.Player.Equipment.Qualities"}}</span>

			{{#each equipment.programs}}
				<span class="item equip-state equip-state-{{system.state}}">
					<a data-action="toggleEquip" data-tooltip="{{localize (concat "Infinity.Sheets.Player.Equipment.State." system.state)}}" data-uuid="{{uuid}}">
						{{#if (eq system.state 'equipped')}}
							<i class="fas fa-fw fa-hand-fist"></i>
						{{/if}}
						{{#if (eq system.state 'carried')}}
							<i class="fas fa-fw fa-suitcase"></i>
						{{/if}}
					</a>
				</span>
				<span class="item name equip-state-{{system.state}}" data-uuid="{{uuid}}" data-state="{{system.state}}" data-type="{{system.type}}">
					<a data-action="openDocument" data-tooltip="{{{tooltip}}}" data-uuid="{{uuid}}">{{name}}{{#if showRating}} {{rating}}{{/if}}</a>
				</span>
				<span class="item damage equip-state-{{system.state}}">{{system.program.damage}}</span>
				<span class="item qualities equip-state-{{system.state}}">
					{{#each qualities}}
						{{#if valid}}
							<span data-tooltip="{{{tooltip}}}">{{label}}{{#if ranked}} {{rank}}{{/if}}</span>
						{{else}}
							<span class="invalid">{{localize "Infinity.Sheets.Gear.InvalidQuality"}}</span>
						{{/if}}
					{{/each}}
				</span>
			{{/each}}
		</div>
	</div>
</section>
