<header>
	<div class='img-container'>
		<img
			src='{{actor.img}}'
			data-edit='img'
			data-action='editImage'
			title='{{actor.name}}'
			alt='{{actor.name}}'
		/>
	</div>

	<label class='labeled-input' data-part='name'>
		<span>{{localize 'Infinity.Labels.Name'}}</span>
		<input
			type='text'
			name='name'
			value='{{actor.name}}'
			placeholder='{{localize "Infinity.Labels.Name"}}'
			{{disabled (not editable)}}
		/>
	</label>
	<label class='labeled-input' data-part='faction'>
		<span>{{localize 'Infinity.Sheets.Player.Faction'}}</span>
		<input
			type='text'
			name='system.faction'
			value='{{system.faction}}'
			placeholder='{{localize "Infinity.Sheets.Player.Faction"}}'
			{{disabled (not editable)}}
		/>
	</label>
	<label class='labeled-input' data-part='heritage'>
		<span>{{localize 'Infinity.Sheets.Player.Heritage'}}</span>
		<input
			type='text'
			name='system.heritage'
			value='{{system.heritage}}'
			placeholder='{{localize "Infinity.Sheets.Player.Heritage"}}'
			{{disabled (not editable)}}
		/>
	</label>

	<div class='infinity-points-container'>
		<div class='box'>
			<span class='label'>{{localize 'Infinity.Sheets.Player.InfinityPoints'}}</span>
			<point-tracker
				name='system.infinityPoints.value'
				value='{{system.infinityPoints.value}}'
				max='{{system.infinityPoints.max}}'
				columns='{{system.infinityPoints.max}}'
			></point-tracker>
		</div>

		<label class='box'>
			<span class='label'>{{localize 'Infinity.Sheets.Player.Refresh'}}</span>
			<input
				type='text'
				name='system.refresh'
				value='{{system.refresh}}'
				{{disabled (not editable)}}
			/>
		</label>
	</div>
</header>