{{#*inline "attributeBlock"}}
<div class="attribute-block">
	<h4>{{name}}</h4>
	<input class="attribute-value" name="{{field}}" type="number" value="{{value}}" {{disabled (not @root.editable)}} />

	<h5 style="justify-content: start;">Skill</h5>
	<h5>Signature</h5>
	<h5>Exp</h5>
	<h5>Foc</h5>
	<h5>TN</h5>

	{{#each skills}}
		<div class="skill-name">{{name}}</div>
		<input name="{{concat field "signature"}}" type="checkbox" {{checked signature}} {{disabled (not @root.editable)}} />
		<input name="{{concat field "expertise"}}" type="number" value="{{exp}}" {{disabled (not @root.editable)}} />
		<input name="{{concat field "focus"}}" type="number" value="{{foc}}" {{disabled (not @root.editable)}} />
		<a class="target-number">
			<span>{{tn}}</span>
			<i class="fas fa-fw fa-dice-d20"></i>
		</a>
	{{/each}}
</div>
{{/inline}}

<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
	<div class="section-header">
		<h2>{{localize "Infinity.Sheets.Player.AttributesAndSkills"}}</h2>
	</div>
	<div class="attributes-list">
		{{#each attributes}}
			{{> attributeBlock this}}
		{{/each}}
	</div>
</section>
