<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
	<div class="talents-list">
		{{#each talents}}
			<div class="skill-talents">
				<div class="section-header" style="margin: 0;">
					<h2>{{localize "Infinity.Sheets.Player.TalentsForSkill" skill=skill}}</h2>
				</div>
				<div class="talents">
					{{#each talents}}
						<talent-disclosure {{#if expanded}}expanded{{/if}} data-id="{{id}}">
							<i slot="disclosure-icon" class="fas fa-fw fa-chevron-right"></i>
							<span slot="name">
								<a style="display: flex; flex-flow: row nowrap; gap: 0.5em;">
									<span>{{name}}</span>
									{{#if (gt system.maximumRanks 1)}}
										<span>{{system.ranks}}</span>
									{{/if}}
								</a>
							</span>
							<div slot="actions" style="display: flex; flex-flow: row nowrap;">
								<a data-action="openDocument" data-uuid="{{uuid}}"><i class="fas fa-fw fa-edit"></i></a>
								{{#if @root.editable}}
									<a data-action="deleteDocument" data-uuid="{{uuid}}"><i class="fas fa-fw fa-trash"></i></a>
								{{/if}}
							</div>
							<div style="padding: 0.25em;" slot="description">{{{enrichedDescription}}}</div>
						</talent-disclosure>
					{{/each}}
				</div>
			</div>
		{{else}}
			<p>
				<em>{{localize "Infinity.Sheets.Player.DragTalents"}}</em>
			</p>
		{{/each}}

		{{#if abilities}}
			<div class="skill-talents">
				<div class="section-header" style="margin: 0;">
					<h2>{{localize "Infinity.Sheets.Player.SpecialAbilities"}}</h2>
				</div>
				<div class="talents">
					{{#each abilities}}
						<talent-disclosure data-type="ability" {{#if expanded}}expanded{{/if}} data-id="{{id}}">
							<i slot="disclosure-icon" class="fas fa-fw fa-chevron-right"></i>
							<span slot="name">
								<a style="display: flex; flex-flow: row nowrap; gap: 0.5em;">
									<span>{{name}}</span>
								</a>
							</span>
							<div slot="actions" style="display: flex; flex-flow: row nowrap;">
								<a data-action="openDocument" data-uuid="{{uuid}}"><i class="fas fa-fw fa-edit"></i></a>
								{{#if @root.editable}}
									<a data-action="deleteDocument" data-uuid="{{uuid}}"><i class="fas fa-fw fa-trash"></i></a>
								{{/if}}
							</div>
							<div style="padding: 0.25em;" slot="description">{{{enrichedDescription}}}</div>
						</talent-disclosure>
					{{/each}}
				</div>
			</div>
		{{/if}}
	</div>
</section>
