<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
	{{#if editable}}
		<prose-mirror name="system.description" value="{{system.description}}" toggled="true">
			{{{enrichedDescription}}}
		</prose-mirror>
	{{else}}
		<div style="padding: 0 0.5em">
			{{{enrichedDescription}}}
		</div>
	{{/if}}
</section>
