<header>
	<img
		src='{{item.img}}'
		data-edit='img'
		data-action='editImage'
		title='{{item.name}}'
		alt='{{item.name}}'
	/>
	<span class='type'>{{localize (concat 'TYPES.Item.' item.type)}}</span>
	<input
		type='text'
		name='name'
		value='{{item.name}}'
		placeholder='{{localize "AHRPG.Labels.Name"}}'
		aria-label='{{localize "AHRPG.Labels.Name"}}'
		{{disabled (not editable)}}
	/>
</header>